

.card_container 
{
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid $color_back_def;
  background-color: $color_back_darklight;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
  min-width: 80%;
  max-width: 80%;
  color: white;

  @media screen and(max-width: 590px) 
  {
    max-width: 98%;
    grid-template-columns: 50px 1fr;
    padding: 10px;
  }
}

.card_left
{
  .card_img_container
  {
    background-color: white;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);

    img
    {
      height: 40px;
      width: 40px;
      object-fit: contain;
      border-radius: 50%;

    }

    @media screen and(max-width: 590px) 
    {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.card_right 
{
  .card_header 
  {
    display: flex;
    justify-content: space-between;
    margin: 2px 0 4px;
    min-height: 35px;

    .pseudo
    {
      display: flex;
    }

    span 
    {
      font-style: italic;
      font-family: $font-1;
      font-size: 12px;

      @media screen and(max-width: 440px) 
      {
        font-size: 11px;
      }
    }
  }

  .update_post
  {
    textarea
    {
      font-size: 1.2rem;
      border: 1px solid $color_back_def;
      padding: 10px;
      border-radius: 20px 20px 6px 20px;
      width: 100% !important;
      min-width: 100%;
      min-height: 150px;
    }
  }

  .post_content
  {
    margin-top: 10px;
    text-align: center;
    
    img
    {
      max-width: 80%;
      max-height: 600px;
      object-fit: contain;
    }
  
    iframe
    {
      max-width: 80%;
      max-height: 600px;
    }
  }
}

.card_footer
{
  display: flex;
  flex-direction: column;
  //background-color: aqua;
  min-width: 100%;
  align-items: flex-end; 

  .edit_container
  {
    display: flex;
    flex-direction: row;

    img
    {
      width: 35px;
      height: 35px;
      min-width: 25px;
      min-height: 25px;
      filter: invert(73%) sepia(4%) saturate(200%) hue-rotate(314deg) brightness(121%) contrast(101%);
    }

    img:hover
    {
      filter: invert(73%) sepia(4%) saturate(800%) hue-rotate(314deg) brightness(121%) contrast(101%);
    }

    span
    {
      display: inline-flex;
      align-items: center;
    }
  }

  .comments_container
  {
    min-width: 100%;
    background-color: $color_back_def;
    border-radius: 20px;

    .comment_form
    {
      padding: 20px;
      input[type="text"] 
      {
        width: 100%;
        //background: $color-4;
        border-radius: 20px 20px 6px 20px;
        padding: 20px;
        font-size: 1.2rem;

      }
    }
  }
  
}

