

.card_container 
{
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid $color_back_def;
  background-color: $color_back_darklight;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
  min-width: 80%;
  max-width: 80%;
  color: white;

  @media screen and(max-width: 590px) 
  {
    max-width: 90%;
    grid-template-columns: 50px 1fr;
  }
}

.card_left
{
  .card_img_container
  {
    background-color: white;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);

    img
    {
      height: 40px;
      width: 40px;
      object-fit: contain;
      border-radius: 50%;

    }

    @media screen and(max-width: 590px) 
    {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.card_right 
{
  .card_header 
  {
    display: flex;
    justify-content: space-between;
    margin: 2px 0 4px;
    min-height: 35px;

    @media screen and(max-width: 590px) 
    {
      margin: 12px 0 14px;
    }

    @media screen and(max-width: 440px) 
    {
      flex-direction: column;
    }

    .pseudo
    {
      display: flex;

      @media screen and(max-width: 590px) 
      {
        margin-left: 52px;
      }
      @media screen and(max-width: 440px) 
      {
        transform: translateY(-18px);
      }

      span 
      {
        font-style: italic;
        font-family: $font-1;

        @media screen and(max-width: 440px) 
        {
          transform: translate(52px, -20px);
        }
      }
    }
  }
}