nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  top: 0;
  overflow: hidden;
  background-color: white;

  @media screen and(max-width: 1251px) {
    padding: 0 10px;
  }

  .nav_container {
    display: flex;
    width: 100%;
    max-width: 1190px;
    max-height: 75px;
    margin: 0 auto;
    justify-content: space-between;
    height: 45px;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      h3 {
        transform: translate(15px, 2px);
        font-size: 1.5rem;
        //font-family: $font-3;
      }
      img {
        height: auto;
        width: auto;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      justify-content: space-between;
      font-size: 1.2rem;

      .welcome {
        transform: translateY(2px);

        /*@media screen and(max-width: 590px) 
        {
          display: none;
        }*/

        h5 {
          //font-family: $font-3;
          color: black;
        }
      }

      li {
        img {
          height: 24px;
          width: 24px;
          cursor: pointer;
          display: grid;
          align-items: center;
          justify-items: center;
          height: 100%;
        }

        .img_profile_header {
          height: 40px;
          width: 40px;
          object-fit: contain;
          border-radius: 50%;
          box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
        }
      }
    }
  }
}
