.login_page 
{
  .log_container 
  {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;

    //background-color: darksalmon;

    @media screen and(max-width: 590px) {
      flex-direction: row;
    }
  }

  .connection_form 
  {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    //width: 100%;
    //background-color: blueviolet;
  }

  .form_container 
  {
    display: flex;
    flex-direction: column;
    background-color: $color_back_def;
    padding: 20px;
    border-radius: 15px;
    color: black;
    min-width: 300px;

    @media screen and(max-width: 590px) 
    {
      flex-direction: column;
    }

    h4
    {
      margin-bottom: 20px;
    }

    form
    {
      width: 100%;

      input[type="submit"] 
      {
        width: 100%;
      }
    }
  }
}
